/* CONTAINER */
.contact__container {
  display: flex;
  flex: 1;
}

/* CONTACT BOX*/
.contact__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
}
.contact__title {
  font-size: 3rem;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 2rem;
}

/* CONTACT FORM*/
.contact__form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex: 1;
  background-color: white;
  width: 100%;
  color: black;
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 2rem;
}
/* LABEL, iNPUT, TEXTAREA CONFIG*/
label,
input,
textarea {
  font-size: 1.5rem;
  font-family: "Space Grotesk", sans-serif;
}
label {
  display: block;
  margin-bottom: 1rem;
}
input,
textarea {
  background-color: #f3f5f7;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  border: none;
}
textarea {
  resize: vertical;
}
/* USEFUL CLASsES*/
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.wd-100 {
  width: 100%;
}
/* BUTTON */
button {
  background-color: #ffd700;
  padding: 4px;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
}
button:hover {
  background-color: #ffcc00;
}
