.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../assets/montainWallpaper.jpg);
}
body,
html {
  overflow: unset;
  height: 100%;
}
.card-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.card {
  background-size: cover;
  background-color: black;
  padding: 10px;
  width: 280px;
  height: 400px;
  display: flex;

  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: end;
  font-family: "Space Grotesk", sans-serif;
  transition: transform 0.3s ease;
}
.active {
  color: #ffd700 !important;
}
.kioto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/kioto.jpeg);
}
.switzerland {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/switzerland.jpg);
}

.italy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/italy.jpg);
}
img {
  width: 100%;
  border-radius: 10px;
  max-height: 35rem;
}
p {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.2rem;
}
.card:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 600px) {
  /* Estilos para móviles pequeños */
  .card-box {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}
