/* Global Config */
html {
  font-size: 62.5%;
  /*The upper lines are vital, it allows that 1 rem = 10px*/
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

/* */
.container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.644)),
    url(../assets/montainWallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 2rem;
}
.navbar ul {
  display: flex;
  list-style: none;
  height: 100%;
  line-height: 5rem;
  gap: 3rem;
}
.navbar li {
  display: flex;
}
.navbar .navItem {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0px;
  padding: 5px 10px;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: transform 0.3s ease, color 0.3s ease;
}
.navItem:hover {
  /* color: black; */
  transform: scale(1.2); /* Escala el enlace al 120% de su tamaño original */
  color: #ffd700;
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffd700; /* Misma opción de color que el hover */
  transform: scaleX(0); /* Comienza oculto */
  transition: transform 0.3s ease;
  transform-origin: right;
}

.navItem:hover::after {
  transform: scaleX(1); /* Subrayado completo al hacer hover */
  transform-origin: left;
}
.title {
  width: 100%;
  font-size: 4.5rem;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-size: bold;
  font-style: normal;
}
.title h1 {
  font-size: 9rem;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 480px) {
  /* Estilos para móviles pequeños */
  h1 {
    font-size: 4rem !important;
    padding: auto;
  }
}
/* Define la animación de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: black; /* Fondo negro al inicio */
  }
  to {
    opacity: 1;
    background-color: black; /* Fondo negro al inicio */
  }
}

/* Aplica la animación al body o a cualquier otro contenedor principal */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.card-box a {
  text-decoration: none;
  color: inherit;
}

.cleanA {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Elimina el color del enlace y hereda el color del elemento padre */
}

.cleanA:hover,
.cleanA:focus,
.cleanA:active {
  text-decoration: none; /* Asegura que no aparezca subrayado en hover o al enfocarse */
  color: inherit; /* Mantiene el color heredado en cualquier estado */
}
